.banner-content {
  color: white;
  @include absolute-center;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  grid-template-areas: 
    "a b c"
    "d e f"
    "g h i";

  .banner-box {
    height: 200px;
    width: 200px;
    box-shadow: inset 0 0 40px #00000079;

  }

  .banner-box-title {
    text-align: center;
  }

  .banner-box-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  .banner-box-text:nth-of-type(1) {
    background-color: blue;
  }
  .banner-box-text:nth-of-type(2) {
    background-color: purple;
  }
  .banner-box-text:nth-of-type(3) {
    background-color: orange;
  }
  .banner-box-text:nth-of-type(4) {
    background-color: green;
  }

  .banner-box-image {
    object-fit: cover;
  }

  .box-a {
    grid-area: a;
  }
  .box-b {
    grid-area: b;
  }
  .box-c {
    grid-area: c;
  }
  .box-d {
    grid-area: d;
  }
  .box-e {
    grid-area: e;
  }
  .box-f {
    grid-area: f;
  }
  .box-g {
    grid-area: g;
  }
  .box-h {
    grid-area: h;
  }
  
}