.banner {
  overflow: hidden;
  position: relative;

  .banner-scroll-icon {
    @at-root html {
      scroll-behavior: smooth;
    }

    border: solid white;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 8px;
  
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    transform: rotate(45deg);
  }
}