.calendar {
  padding: 40px 0;
  width: 80%;
  margin: 0 auto;

  .fc-left h2 {
    font-size: 1.2em;
    @media(min-width: 400px) {
      font-size: 1.5em;
    }
    @media(min-width: 800px) {
      font-size: 1.7em;
    }
  }

  .fc-event {
    font-size: 1em;

    @media (min-width:850px) {
      font-size: 1.2em;
    }
  }

  // Set the allday text in the calendar off in list views
  .fc-list-item-time {
    display: none;
  }

  // Make the event text wrap in month view
  .fc-day-grid-event .fc-content {
    white-space: normal;
  }

  &.calendar-desktop {
    display: none;

    @media (min-width:700px) {
      display: block;
    }
  }

  &.calendar-mobile {
    @media (min-width:700px) {
      display: none;
    }
  }
}

