// Footer Styles
footer {
    padding: $padding;
    border-top: 1px dotted $body-bg-color;
    background-color: rgb(39, 39, 39);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    .col1,.col2,.col3{
        width: 100%;
        margin: 0;
        color: white;
    }
    .col1 {
        @media (min-width:380px) {
            max-width: 285px;
        }
        @media (min-width:755px) {
            width: 30%;
        }
    }
    .col2 {
        @media (min-width:380px) {
            max-width: 110px;
        }
        @media (min-width:755px) {
            width: 30%;
        }
    }
    .col3 {
        margin: 0 auto;
        padding-top: 20px;
        display: flex;
        justify-content: space-evenly;
        font-size: 1.5em;
        max-width: 300px;

        @media (min-width:755px) {
            width: 30%;
            justify-content: space-around;
            margin: 0;
            font-size: 2em;
            align-items: center;
        }
    }
    h2 {
        font-size: 1.2em;
        margin-bottom: 0;
    }

    p {
        margin: 0px;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }
    a i {
        color: white;
    }
    i:hover {
        transition: all .2s ease;
        transform: translateY(-10%);

        &.fa-twitter {
            color: #38A1F3;
        }
        &.fa-facebook-f {
            color: #3b5998;
        }
        &.fa-google {
            color: #FFA500;
        }
        
    }
}