// Footer Styles
footer {
    text-align: center;
    padding: $padding;
    border-top: 1px dotted $body-bg-color;
    background-color: rgb(39, 39, 39);
    p {
        color: white;
        @include flatten;
    }
}