// Header styles
header {
    z-index: 9000;
    background-color: $navbar-color-dark;
    padding: $padding/2 $padding;
    @include flex-layout-row;
    align-items: center;
    height: $header-height;

    .bcit {
        font-family: $header-font;
        text-shadow: 3px 3px 3px black;
        z-index: 9000;
        flex: 1;
        @include flatten;
        color: $text-color-light;
        font-size: 1.5em;
        //font-weight: bold;
        @include mq($phoneLandscape){
            font-size: 3em;
        }
    }

    @include mq($phoneLandscape){
        display: flex;   
    }
}