.staff-container{

.StaffInfo{

    display: flex;
    flex-direction: column;
    .left {
        flex: 1;
        
    }
    
    .right {
        flex: 1;
        
    }

   
}

.staff{
    @include subheading;
   padding:5px;
    text-align: center;
}
div{
    
    padding:20px;
}

img{
    width:30%;
    height:30%;
    object-fit: cover;
    
}



.Info{
    text-align: center;
}

@media (min-width: 600px)
{
    .StaffInfo{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    
         text-align: center;
         padding:10px;
        
        .right {
            flex: 1 1 49%;
            
        }
        
        .left {
            flex: 1 1 49%;
            
        }
    }

    
}
}