.StaffInfo{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-flow: column wrap;
   align-content: center;
   align-content: center;


    
}
div{
    width:auto;
}

img{
    width:20%;
    height:20%;
}

.left {
    flex: 1;
    width:49%;
}

.right {
    flex: 2;
    width:49%;
}