.student-heading {
  text-align: center;
}

.student-table {
  margin: 0 auto;
  width: 80%;

  tr {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(128, 128, 128, 0.479);
    justify-content: center;
    padding: 20px 0;

  }

  td {
    width: 100%;

    &:nth-of-type(1) {
      font-weight: 700;
    }
  }


}