/* CSS Document */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0; }

body {
  font-family: "Archivo", sans-serif;
  line-height: 1.4; }

h1, h2, h3, nav a, table {
  font-family: "Archivo", sans-serif; }

body {
  background: radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px, linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px, linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
  background-color: slategray;
  background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px; }
  body.animating {
    overflow: hidden; }

.wrapper {
  max-width: 1900px;
  background-color: white; }

.container {
  max-width: 1200px;
  background-color: white;
  color: black;
  margin-left: auto;
  margin-right: auto; }

.overview-wrapper main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto; }
  @media (min-width: 680px) {
    .overview-wrapper main {
      padding: 40px 20px; } }
  @media (min-width: 680px) {
    .overview-wrapper main {
      padding: 70px 20px; } }
  .overview-wrapper main h1 {
    margin: 0; }
    @media (min-width: 450px) {
      .overview-wrapper main h1 {
        font-size: 1.5em; } }
    @media (min-width: 680px) {
      .overview-wrapper main h1 {
        font-size: 2em; } }
  @media (min-width: 680px) {
    .overview-wrapper main p {
      font-size: 1.1em; } }

header {
  z-index: 9000;
  background-color: rgba(5, 37, 144, 0.801);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 60px; }
  header h1 {
    z-index: 9000;
    flex: 1;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: white;
    font-size: 1.5em; }
    @media (min-width: 41.875em) {
      header h1 {
        font-size: 1.5em; } }
  @media (min-width: 41.875em) {
    header {
      display: flex; } }

.logo {
  width: 50px;
  position: relative;
  top: -8px; }

.banner {
  overflow: hidden;
  position: relative; }
  .banner .banner-scroll-icon {
    border: solid white;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 8px;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    transform: rotate(45deg); }
    html {
      scroll-behavior: smooth; }

.banner-content {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "a b c" "d e f" "g h i"; }
  .banner-content .banner-box {
    height: 90px;
    width: 90px;
    box-shadow: inset 0 0 40px #00000079; }
    @media (min-width: 450px) {
      .banner-content .banner-box {
        height: 140px;
        width: 140px; } }
    @media (min-width: 680px) {
      .banner-content .banner-box {
        height: 200px;
        width: 200px; } }
  .banner-content .banner-box-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0; }
    @media (min-width: 450px) {
      .banner-content .banner-box-title {
        font-size: 3em; } }
    @media (min-width: 680px) {
      .banner-content .banner-box-title {
        font-size: 4em; } }
  .banner-content .banner-box-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .5em; }
    @media (min-width: 450px) {
      .banner-content .banner-box-text {
        font-size: .7em; } }
    @media (min-width: 680px) {
      .banner-content .banner-box-text {
        font-size: 1.1em; } }
  .banner-content .banner-box-text:nth-of-type(1) {
    background-color: blue; }
  .banner-content .banner-box-text:nth-of-type(2) {
    background-color: purple; }
  .banner-content .banner-box-text:nth-of-type(3) {
    background-color: orange; }
  .banner-content .banner-box-text:nth-of-type(4) {
    background-color: green; }
  .banner-content .banner-box-image {
    object-fit: cover; }
  .banner-content .box-a {
    grid-area: a; }
  .banner-content .box-b {
    grid-area: b; }
  .banner-content .box-c {
    grid-area: c; }
  .banner-content .box-d {
    grid-area: d; }
  .banner-content .box-e {
    grid-area: e; }
  .banner-content .box-f {
    grid-area: f; }
  .banner-content .box-g {
    grid-area: g; }
  .banner-content .box-h {
    grid-area: h; }

.hero-image {
  z-index: 900;
  height: calc(100vh - 60px);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/students-working-together.jpg");
  filter: blur(8px);
  transform: scale(1.1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.hamburger {
  display: block;
  width: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer; }
  .hamburger .hamburger-content {
    display: block;
    height: 24px;
    cursor: pointer; }
  .hamburger .text {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute; }
  .hamburger .bar {
    display: block;
    height: 4px;
    background-color: white;
    width: 100%;
    position: relative;
    top: 10px;
    transition: all 0.3s ease-in-out; }
    .show .hamburger .bar {
      background-color: transparent; }
    .hamburger .bar:after {
      content: "";
      width: 100%;
      height: 4px;
      top: 10px;
      left: 0;
      background-color: white;
      position: absolute;
      transition: all 0.3s ease-in-out; }
      .show .hamburger .bar:after {
        top: 0;
        transform: rotate(45deg); }
    .hamburger .bar:before {
      content: "";
      width: 100%;
      height: 4px;
      top: -10px;
      left: 0;
      background-color: white;
      position: absolute;
      transition: all 0.3s ease-in-out; }
      .show .hamburger .bar:before {
        top: 0;
        transform: rotate(-45deg); }
  .hamburger:focus,
  .hamburger .hamburger-content:focus {
    outline: none; }
  .hamburger:focus .hamburger-content {
    outline: 5px solid #7683C9; }
  @media (min-width: 41.875em) {
    .hamburger {
      display: none; } }

nav {
  z-index: 9000;
  background-color: rgba(5, 37, 144, 0.801);
  visibility: hidden;
  position: fixed;
  transition: visibility 0s 0.3s;
  flex: 1;
  top: 60px;
  left: 0;
  width: 80%;
  transform: translateX(-100%); }
  nav.activated {
    transition: visibility 0s 0.3s, transform 0.3s ease-out; }
  .show nav.activated {
    visibility: visible;
    transform: translate(0);
    transition: visibility 0s, transform 0.3s ease-out; }
    .show nav.activated i {
      border: solid white;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      margin: 2px;
      color: white; }
      .show nav.activated i.down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg); }
  nav ul {
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style: none; }
  nav a {
    text-decoration: none;
    padding: 0 20px;
    font-size: 1.2em;
    display: block;
    border-top: 1px solid white;
    color: white;
    line-height: 40px;
    text-align: center; }
    nav a:hover, nav a:focus, nav a:active {
      outline: none;
      background-color: rgba(255, 255, 255, 0.3); }
  @media (min-width: 41.875em) {
    nav {
      visibility: visible;
      position: static;
      height: 40px;
      border-top: none;
      transform: none;
      background-color: transparent; }
      nav ul {
        display: flex; }
      nav li {
        flex: 1 1 20%;
        position: relative; }
        nav li .nav-dropdown {
          display: none;
          position: absolute;
          z-index: 1;
          background-color: rgba(5, 37, 144, 0.801);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
          min-width: 100%; }
          nav li .nav-dropdown li {
            border: 1px solid white; }
            nav li .nav-dropdown li a {
              padding: 15px;
              line-height: 20px; }
        nav li i {
          border: solid white;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          margin: 2px;
          color: white; }
          nav li i.down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg); }
        nav li:nth-child(2) {
          flex: 0 0 25%; }
      nav a {
        line-height: 40px;
        border-right: 1px solid white;
        border-top: none; }
        nav li:last-child a {
          border-right: none; } }
  @media (min-width: 78.125em) {
    nav {
      background-color: transparent; }
      nav li i {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin: 2px;
        color: white; }
        nav li i.down {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg); } }

.form form {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 30px; }
  .form form h2 {
    font-size: 2em;
    text-shadow: 10px 10px 10px #363636;
    margin: 5px auto;
    text-align: center;
    margin-bottom: 10px; }
  .form form fieldset {
    border-radius: 7px; }
  .form form legend {
    padding: 0;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto; }
  .form form .form-group {
    margin: 10px 0;
    padding: 10px; }
    .form form .form-group .form-row input {
      display: block;
      width: 100%;
      padding: 8px;
      margin: 5px 10px;
      border: 1px solid rgba(0, 0, 0, 0.507);
      border-radius: 5px; }
    .form form .form-group .form-row textarea {
      width: 100%;
      height: 100px;
      border: 1px solid rgba(0, 0, 0, 0.507);
      border-radius: 5px; }
  .form form .submit {
    margin-top: 10px; }
    .form form .submit input {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 50%;
      color: #fff;
      background-color: lightblue;
      border: 2px solid lightblue;
      padding: 8px 16px;
      font-size: 1.1em;
      border-radius: 6px;
      cursor: pointer; }
  @media (min-width: 750px) {
    .form form .form-group {
      margin: 10px; }
      .form form .form-group .form-row {
        margin: 10px; }
        .form form .form-group .form-row input {
          width: 100%; }
        .form form .form-group .form-row textarea {
          padding: 8px;
          margin: 5px 10px; }
    .form form .submit input {
      width: 100%; } }

.outline {
  min-height: 100vh;
  display: flex;
  box-shadow: inset -5px -5px 10px 10px whitesmoke;
  flex-direction: column; }
  .outline aside ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px; }
    .outline aside ul li {
      border: 1px solid white;
      padding: 10px 15px;
      margin: 5px 0;
      text-align: center;
      border-radius: 5px;
      background: rgba(8, 63, 243, 0.801);
      list-style: none; }
      .outline aside ul li a {
        color: white;
        font-weight: bold;
        text-decoration: none; }
  .outline section {
    margin: 5px;
    padding: 10px; }
    .outline section div h1 {
      margin: 10px auto; }
    .outline section div table {
      margin: 2px; }
  @media (min-width: 600px) {
    .outline aside {
      padding-top: 40px; }
      .outline aside ul {
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
        padding: 0; }
        .outline aside ul li a {
          text-decoration: none; } }
  @media (min-width: 800px) {
    .outline {
      flex-direction: row; }
      .outline aside {
        flex: 1 1 20%;
        padding-left: 20px; }
        .outline aside li {
          list-style: none; }
          .outline aside li a {
            text-decoration: none;
            outline: none; }
        .outline aside ul {
          display: flex;
          flex-direction: column;
          padding: 5px; }
      .outline section {
        flex: 1 1 75%;
        padding: 30px;
        margin: 10px;
        margin-right: 25px; }
        .outline section div {
          padding: 10px; }
          .outline section div .heading {
            margin-top: 0;
            font-size: 2em;
            text-shadow: 10px 10px 10px #363636; }
          .outline section div h2 {
            font-size: 1.3em; } }

.schedule-page .schedule-heading {
  padding-top: 20px;
  margin-bottom: 0;
  font-size: 1.7em;
  text-align: center; }
  @media (min-width: 550px) {
    .schedule-page .schedule-heading {
      font-size: 2em; } }

.student-wrapper .student-heading {
  text-align: center;
  margin-bottom: 0; }
.student-wrapper footer {
  margin-top: 100px; }
.student-wrapper .student-table {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 600px) {
    .student-wrapper .student-table {
      justify-content: space-around; } }
  @media (min-width: 850px) {
    .student-wrapper .student-table {
      width: 80%; } }
  .student-wrapper .student-table tr {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    color: #333333;
    border-bottom: 1px solid rgba(128, 128, 128, 0.479);
    justify-content: center;
    padding: 10px 0;
    margin-top: 10px; }
    @media (min-width: 600px) {
      .student-wrapper .student-table tr {
        margin-top: 30px; } }
    .student-wrapper .student-table tr:hover {
      color: black; }
  .student-wrapper .student-table td {
    font-size: 1.1em;
    width: 100%; }
    .student-wrapper .student-table td:nth-of-type(1) {
      font-weight: 700; }
    @media (min-width: 600px) {
      .student-wrapper .student-table td {
        font-size: 1.2em;
        max-width: 250px; } }
  .student-wrapper .student-table .sm-td {
    display: flex;
    justify-content: center; }
    .student-wrapper .student-table .sm-td i {
      font-size: 1.7em;
      padding: 20px 20px 0px;
      transition: all 0.2s ease; }
      .student-wrapper .student-table .sm-td i:hover, .student-wrapper .student-table .sm-td i:active, .student-wrapper .student-table .sm-td i:focus {
        transform: translateY(-5%); }
      .student-table tr:hover i.fa-github {
        color: #333; }
      .student-wrapper .student-table .sm-td i.fa-github {
        color: grey; }
        .student-wrapper .student-table .sm-td i.fa-github:hover, .student-wrapper .student-table .sm-td i.fa-github:active, .student-wrapper .student-table .sm-td i.fa-github:focus {
          color: #333; }
      .student-wrapper .student-table .sm-td i.fa-linkedin-in {
        color: grey; }
        .student-wrapper .student-table .sm-td i.fa-linkedin-in:hover, .student-wrapper .student-table .sm-td i.fa-linkedin-in:active, .student-wrapper .student-table .sm-td i.fa-linkedin-in:focus {
          color: #2867B2; }

.calendar {
  padding: 40px 0;
  width: 80%;
  margin: 0 auto; }
  .calendar .fc-left h2 {
    font-size: 1.2em; }
    @media (min-width: 400px) {
      .calendar .fc-left h2 {
        font-size: 1.5em; } }
    @media (min-width: 800px) {
      .calendar .fc-left h2 {
        font-size: 1.7em; } }
  .calendar .fc-event {
    font-size: 1em; }
    @media (min-width: 850px) {
      .calendar .fc-event {
        font-size: 1.2em; } }
  .calendar .fc-list-item-time {
    display: none; }
  .calendar .fc-day-grid-event .fc-content {
    white-space: normal; }
  .calendar.calendar-desktop {
    display: none; }
    @media (min-width: 700px) {
      .calendar.calendar-desktop {
        display: block; } }
  @media (min-width: 700px) {
    .calendar.calendar-mobile {
      display: none; } }

footer {
  padding: 30px;
  border-top: 1px dotted #7c7979b0;
  background-color: #272727;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px; }
  footer .col1, footer .col2, footer .col3 {
    width: 100%;
    margin: 0;
    color: white; }
  @media (min-width: 380px) {
    footer .col1 {
      max-width: 285px; } }
  @media (min-width: 755px) {
    footer .col1 {
      width: 30%; } }
  @media (min-width: 380px) {
    footer .col2 {
      max-width: 110px; } }
  @media (min-width: 755px) {
    footer .col2 {
      width: 30%; } }
  footer .col3 {
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    max-width: 300px; }
    @media (min-width: 755px) {
      footer .col3 {
        width: 30%;
        justify-content: space-around;
        margin: 0;
        font-size: 2em;
        align-items: center; } }
  footer h2 {
    font-size: 1.2em;
    margin-bottom: 0; }
  footer p {
    margin: 0px; }
  footer ul {
    list-style: none;
    padding-left: 0;
    margin: 0; }
  footer a i {
    color: white; }
  footer i:hover {
    transition: all .2s ease;
    transform: translateY(-10%); }
    footer i:hover.fa-twitter {
      color: #38A1F3; }
    footer i:hover.fa-facebook-f {
      color: #3b5998; }
    footer i:hover.fa-google {
      color: #FFA500; }

.staff-container .StaffInfo {
  display: flex;
  flex-direction: column; }
  .staff-container .StaffInfo .left {
    flex: 1; }
  .staff-container .StaffInfo .right {
    flex: 1; }
  .staff-container .StaffInfo div {
    padding: 20px; }
.staff-container .staff {
  font-size: 2em;
  text-shadow: 10px 10px 10px #363636;
  padding: 5px;
  text-align: center; }
.staff-container img {
  width: 30%;
  height: 30%;
  object-fit: cover; }
.staff-container .Info {
  text-align: center; }
@media (min-width: 600px) {
  .staff-container .StaffInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px; }
    .staff-container .StaffInfo .right {
      flex: 1 1 49%; }
    .staff-container .StaffInfo .left {
      flex: 1 1 49%; } }

.resources-container .outline-section a {
  text-decoration: none; }

/*# sourceMappingURL=styles.css.map */
