/* CSS Document */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0; }

body {
  font-family: Georgia, Times, Times New Roman, serif;
  line-height: 1.4; }

h1, h2, h3, nav a, table {
  font-family: Tahoma, Verdana, Segoe, sans-serif; }

body {
  background: radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px, linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px, linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
  background-color: slategray;
  background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px; }
  body.animating {
    overflow: hidden; }

.wrapper {
  max-width: 1900px;
  background-color: white; }

.container {
  max-width: 1200px;
  background-color: white;
  color: black;
  margin-left: auto;
  margin-right: auto; }

header {
  z-index: 9000;
  background-color: rgba(5, 37, 144, 0.801);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 60px; }
  header h1 {
    z-index: 9000;
    flex: 1;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: white;
    font-size: 1.5em; }
    @media (min-width: 41.875em) {
      header h1 {
        font-size: 1.5em; } }
  @media (min-width: 41.875em) {
    header {
      display: flex; } }

.logo {
  width: 50px;
  position: relative;
  top: -8px; }

.banner {
  overflow: hidden;
  position: relative; }
  .banner .banner-scroll-icon {
    border: solid white;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 8px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    transform: rotate(45deg); }
    html {
      scroll-behavior: smooth; }

.banner-content {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  grid-template-areas: "a b c" "d e f" "g h i"; }
  .banner-content .banner-box {
    height: 200px;
    width: 200px;
    box-shadow: inset 0 0 40px #00000079; }
  .banner-content .banner-box-title {
    text-align: center; }
  .banner-content .banner-box-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase; }
  .banner-content .banner-box-text:nth-of-type(1) {
    background-color: blue; }
  .banner-content .banner-box-text:nth-of-type(2) {
    background-color: purple; }
  .banner-content .banner-box-text:nth-of-type(3) {
    background-color: orange; }
  .banner-content .banner-box-text:nth-of-type(4) {
    background-color: green; }
  .banner-content .banner-box-image {
    object-fit: cover; }
  .banner-content .box-a {
    grid-area: a; }
  .banner-content .box-b {
    grid-area: b; }
  .banner-content .box-c {
    grid-area: c; }
  .banner-content .box-d {
    grid-area: d; }
  .banner-content .box-e {
    grid-area: e; }
  .banner-content .box-f {
    grid-area: f; }
  .banner-content .box-g {
    grid-area: g; }
  .banner-content .box-h {
    grid-area: h; }

.hero-image {
  z-index: 900;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/students-working-together.jpeg");
  filter: blur(8px);
  transform: scale(1.1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.hamburger {
  display: block;
  width: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer; }
  .hamburger .hamburger-content {
    display: block;
    height: 24px;
    cursor: pointer; }
  .hamburger .text {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute; }
  .hamburger .bar {
    display: block;
    height: 4px;
    background-color: white;
    width: 100%;
    position: relative;
    top: 10px;
    transition: all 0.3s ease-in-out; }
    .show .hamburger .bar {
      background-color: transparent; }
    .hamburger .bar:after {
      content: "";
      width: 100%;
      height: 4px;
      top: 10px;
      left: 0;
      background-color: white;
      position: absolute;
      transition: all 0.3s ease-in-out; }
      .show .hamburger .bar:after {
        top: 0;
        transform: rotate(45deg); }
    .hamburger .bar:before {
      content: "";
      width: 100%;
      height: 4px;
      top: -10px;
      left: 0;
      background-color: white;
      position: absolute;
      transition: all 0.3s ease-in-out; }
      .show .hamburger .bar:before {
        top: 0;
        transform: rotate(-45deg); }
  .hamburger:focus,
  .hamburger .hamburger-content:focus {
    outline: none; }
  .hamburger:focus .hamburger-content {
    outline: 5px solid #7683C9; }
  @media (min-width: 41.875em) {
    .hamburger {
      display: none; } }

nav {
  z-index: 9000;
  background-color: rgba(5, 37, 144, 0.801);
  visibility: hidden;
  position: fixed;
  transition: visibility 0s 0.3s;
  flex: 1;
  top: 60px;
  left: 0;
  width: 80%;
  transform: translateX(-100%);
  transition: visibility 0s 0.3s, transform 0.3s ease-out; }
  .show nav {
    visibility: visible;
    transform: translate(0);
    transition: visibility 0s, transform 0.3s ease-out; }
  nav ul {
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style: none; }
  nav a {
    text-decoration: none;
    padding: 0 20px;
    font-size: 1.2em;
    display: block;
    border-top: 1px solid white;
    color: white;
    line-height: 40px;
    text-align: center; }
    nav a:hover, nav a:focus, nav a:active {
      outline: none;
      background-color: rgba(255, 255, 255, 0.3); }
  @media (min-width: 41.875em) {
    nav {
      visibility: visible;
      position: static;
      height: 40px;
      border-top: none;
      transform: none;
      background-color: none; }
      nav ul {
        display: flex; }
      nav li {
        flex: 1;
        position: relative; }
        nav li .nav-dropdown {
          display: none;
          position: absolute;
          z-index: 1;
          background-color: rgba(5, 37, 144, 0.801);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); }
          nav li .nav-dropdown li {
            min-width: 142px;
            border: 1px solid white; }
            nav li .nav-dropdown li a {
              padding: 15px;
              line-height: 20px; }
      nav a {
        line-height: 40px;
        border-right: 1px solid white;
        border-top: none; }
        nav li:last-child a {
          border-right: none; } }
  @media (min-width: 78.125em) {
    nav {
      background-color: transparent; } }

main {
  min-height: 100vh; }
  main form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px; }
    main form h2 {
      font-size: 2em;
      text-shadow: 10px 10px 10px #363636;
      transform: translateX(40%);
      margin: 10px; }
    main form legend {
      padding: 0;
      font-weight: bold;
      font-size: 1.2em;
      margin-left: auto;
      margin-right: auto; }
    main form .form-group {
      margin: 10px;
      padding: 10px; }
      main form .form-group .form-row {
        margin: 10px; }
        main form .form-group .form-row input {
          display: block;
          width: 100%;
          padding: 8px;
          margin: 5px 10px;
          border: 1px solid rgba(0, 0, 0, 0.507);
          border-radius: 5px; }
        main form .form-group .form-row textarea {
          padding: 8px;
          margin: 5px 10px;
          border: 1px solid rgba(0, 0, 0, 0.507);
          border-radius: 5px; }
    main form .submit {
      margin-top: 10px; }
      main form .submit input {
        display: block;
        width: 100%;
        color: #fff;
        background-color: lightblue;
        border: 2px solid lightblue;
        padding: 8px 16px;
        font-size: 1.1em;
        border-radius: 6px;
        cursor: pointer; }

.outline {
  display: flex;
  box-shadow: inset -5px -5px 10px 10px whitesmoke;
  flex-direction: column; }
  .outline aside ul {
    display: flex;
    flex-direction: column;
    padding: 5px; }
    .outline aside ul li {
      border: 1px solid white;
      padding: 10px 15px;
      margin: 5px 0;
      text-align: center;
      border-radius: 5px;
      background: rgba(8, 63, 243, 0.801);
      list-style: none; }
      .outline aside ul li a {
        color: white;
        font-weight: bold; }
  @media (min-width: 600px) {
    .outline aside ul {
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0;
      padding: 0; }
      .outline aside ul li a {
        text-decoration: none; }
    .outline section {
      margin: 5px;
      padding: 10px; }
      .outline section div h1 {
        margin: 10px auto; }
      .outline section div table {
        margin: 2px; } }
  @media (min-width: 800px) {
    .outline {
      flex-direction: row; }
      .outline aside {
        flex: 1 1 20%;
        padding-left: 20px; }
        .outline aside li {
          list-style: none; }
          .outline aside li a {
            text-decoration: none;
            outline: none; }
        .outline aside ul {
          display: flex;
          flex-direction: column;
          padding: 5px; }
      .outline section {
        flex: 1 1 75%;
        padding: 30px;
        margin: 10px;
        margin-right: 25px; }
        .outline section div {
          padding: 10px; }
          .outline section div .heading {
            margin-top: 0;
            font-size: 2em;
            text-shadow: 10px 10px 10px #363636; }
          .outline section div h2 {
            font-size: 1.3em; } }

.schedule-page .schedule-heading {
  text-align: center; }

.calendar {
  padding: 50px 0;
  width: 80%;
  margin: 0 auto; }
  .calendar .fc-list-item-time {
    display: none; }
  .calendar .fc-day-grid-event .fc-content {
    white-space: normal; }
  .calendar.calendar-desktop {
    display: none; }
    @media (min-width: 700px) {
      .calendar.calendar-desktop {
        display: block; } }
  @media (min-width: 700px) {
    .calendar.calendar-mobile {
      display: none; } }

footer {
  padding: 30px;
  border-top: 1px dotted #7c7979b0;
  background-color: #272727; }
  footer p {
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1; }

/*# sourceMappingURL=styles.css.map */
